# Phase 2 - Week 3 - Day 3 PM - ETL

## A. Setup Database in MongoDB

In [ ]:
# Install package pymongo

# !pip install -q pymongo

import pymongo
pymongo.__version__

'4.12.0'

In [ ]:
# Get current IP Adress

!curl ipecho.net/plain

36.70.15.52

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11  100    11    0     0     36      0 --:--:-- --:--:-- --:--:--    36

In [ ]:
# Define URI

URI = 'YOUR-URI'

In [ ]:
# Test connection

client = pymongo.MongoClient(URI, server_api=pymongo.server_api.ServerApi(version="1", strict=True, deprecation_errors=True))

try:
  client.admin.command("ping")
  print("Connected successfully")

except Exception as e:
  raise Exception("The following error occurred: ", e)

Connected successfully

In [ ]:
# Get all databases

client.list_database_names()

['my_store', 'admin', 'local']

In [ ]:
# Create a new database

db_socmed = client['social_media']

In [ ]:
# Create a new collection

coll_raw_data = db_socmed['raw_data']

## B. Insert into MongoDB

In [ ]:
# Load dataset

import json
from pprint import pprint

with open('raw_data.json', 'r') as f:
    all_data = json.load(f)

pprint(all_data)

[{'conn_info': {'browser': 'Mozilla',
                'platform': 'iPhone',
                'status_code': 200,
                'token': '229a6669'},
  'destination_id': '0',
  'message_text': 'BIG SALE ALERT! Diskon hingga 50% untuk semua produk kami, '
                  'hanya sampai hari Minggu ini! Buruan, sebelum kehabisan! '
                  '#Promo #DiskonGede #Sale',
  'origin_id': 'admin_1',
  'post_id': 'ER3020',
  'post_time': '16/02/2025, 06:28:12',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Safari',
                'platform': 'Macintosh',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': '0',
  'message_text': 'BIG SALE ALERT! Diskon hingga 50% untuk semua produk kami, '
                  'hanya sampai hari Minggu ini! Buruan, sebelum kehabisan! '
                  '#Promo #DiskonGede #Sale',
  'origin_id': 'admin_3',
  'post_id': 'HT1988',
  'post_time': '16/02/2025, 07:34:18',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Chrome',
                'platform': 'Android',
                'status_code': 200,
                'token': '229a6669'},
  'destination_id': '0',
  'message_text': 'Last Day Promo! Ini hari terakhir buat nikmati potongan '
                  'harga spesial dari kami! Kapan lagi belanja murah kayak '
                  'gini? Cek sekarang di #LastChance #PromoAkhir',
  'origin_id': 'admin_2',
  'post_id': 'ZG9610',
  'post_time': '16/02/2025, 08:07:59',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Edge',
                'platform': 'Windows',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': '0',
  'message_text': 'Last Day Promo! Ini hari terakhir buat nikmati potongan '
                  'harga spesial dari kami! Kapan lagi belanja murah kayak '
                  'gini? Cek sekarang di #LastChance #PromoAkhir',
  'origin_id': 'admin_2',
  'post_id': 'XL4964',
  'post_time': '16/02/2025, 10:18:11',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Mozilla',
                'platform': 'Android',
                'status_code': 200,
                'token': '229a6669'},
  'destination_id': '0',
  'message_text': 'Hari ini aja: Buy 1 Get 1 Free! Pilih produk favoritmu, dan '
                  'dapetin bonusnya! Stok terbatas, siapa cepat dia dapat '
                  '#BOGO #PromoHariIni #BelanjaCerdas',
  'origin_id': 'admin_2',
  'post_id': 'OB6749',
  'post_time': '16/02/2025, 12:51:48',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Edge',
                'platform': 'iPhone',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': 'admin_1',
  'message_text': 'Adminnya cepet banget balesnya, love it! Semoga makin '
                  'sukses dan makin sering kasih promo hahahaha',
  'origin_id': 'user_6',
  'post_id': 'FB8114',
  'post_time': '16/02/2025, 13:02:44',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Edge',
                'platform': 'Macintosh',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': 'admin_1',
  'message_text': 'Halo! Aku udah coba masukin kode promo tapi gak bisa '
                  'dipakai. Apakah ada minimal pembelian tertentu?',
  'origin_id': 'user_7',
  'post_id': 'CW2495',
  'post_time': '16/02/2025, 13:03:02',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Mozilla',
                'platform': 'Linux',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': '0',
  'message_text': 'Kode Voucher Khusus Kamu! Gunakan kode TWIT50 untuk '
                  'potongan 50rb minimal belanja 200rb. Hanya berlaku 24 jam! '
                  '#VoucherDiskon #PromoSpesial',
  'origin_id': 'admin_2',
  'post_id': 'HF9367',
  'post_time': '16/02/2025, 13:56:50',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Safari',
                'platform': 'iPhone',
                'status_code': 200,
                'token': '21b7c13c'},
  'destination_id': '0',
  'message_text': 'Surprise di depan pintu kamu! Hari ini ada promo FREE '
                  'SHIPPING NATIONWIDE! Tanpa minimum belanja, tanpa kode. '
                  'Cukup checkout sekarang #GratisOngkir #LangsungCheckout',
  'origin_id': 'admin_1',
  'post_id': 'KQ8613',
  'post_time': '16/02/2025, 14:18:27',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Safari',
                'platform': 'Linux',
                'status_code': 200,
                'token': '4eededee'},
  'destination_id': 'admin_2',
  'message_text': 'Admin, tiap liat postingan kalian tuh dompet langsung '
                  'deg-degan hehe Tapi ya tetep checkout sih ',
  'origin_id': 'user_1',
  'post_id': 'MO2272',
  'post_time': '16/02/2025, 15:03:35',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Mozilla',
                'platform': 'Macintosh',
                'status_code': 200,
                'token': '229a6669'},
  'destination_id': 'admin_1',
  'message_text': 'Halo, pesanan saya salah warna. Udah kirim email juga, '
                  'mohon bantuannya ya. Thanks sebelumnya',
  'origin_id': 'user_5',
  'post_id': 'RV0992',
  'post_time': '16/02/2025, 15:26:16',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Edge',
                'platform': 'Windows',
                'status_code': 200,
                'token': '21b7c13c'},
  'destination_id': '0',
  'message_text': 'Diskon Khusus Followers! Khusus kamu yang follow akun ini, '
                  'dapatkan diskon 20%! Ketik "FOLLOW20" pas checkout ya '
                  '#PromoFollower #DiskonKhusus',
  'origin_id': 'admin_2',
  'post_id': 'XT4124',
  'post_time': '16/02/2025, 15:36:16',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Edge',
                'platform': 'Android',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': 'admin_1',
  'message_text': 'Makasih banyak! Barangnya udah sampai dan bagus banget... '
                  'Service-nya juga oke!',
  'origin_id': 'user_3',
  'post_id': 'YG7720',
  'post_time': '16/02/2025, 15:48:39',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Chrome',
                'platform': 'Macintosh',
                'status_code': 200,
                'token': '4eededee'},
  'destination_id': 'admin_1',
  'message_text': 'Maaf ya, ini udah 3 hari pesanan saya belum dikirim padahal '
                  'statusnya udah paid. Bisa dibantu dicek?',
  'origin_id': 'user_7',
  'post_id': 'YS3016',
  'post_time': '16/02/2025, 17:26:16',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Chrome',
                'platform': 'iPhone',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': 'admin_3',
  'message_text': 'Chat CS-nya gak dibales-bales dari tadi pagi. Gimana saya '
                  'mau klaim garansinya?Jujur kecewa, paket saya rusak padahal '
                  'nunggu lama. Bisa minta penjelasan?Sudah ikuti semua syarat '
                  'giveaway tapi nama saya gak muncul di pengumuman. Tolong '
                  'dicek dongUdah dua kali salah kirim warna. Apa gak dicek '
                  'dulu sebelum dikirim ya, Min?',
  'origin_id': 'user_5',
  'post_id': 'RI6926',
  'post_time': '16/02/2025, 17:29:05',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Safari',
                'platform': 'iPhone',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': '0',
  'message_text': 'Hari ini aja: Buy 1 Get 1 Free! Pilih produk favoritmu, dan '
                  'dapetin bonusnya! Stok terbatas, siapa cepat dia dapat '
                  '#BOGO #PromoHariIni #BelanjaCerdas',
  'origin_id': 'admin_3',
  'post_id': 'TW4546',
  'post_time': '16/02/2025, 18:41:17',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Chrome',
                'platform': 'Linux',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': '0',
  'message_text': 'Diskon Khusus Followers! Khusus kamu yang follow akun ini, '
                  'dapatkan diskon 20%! Ketik "FOLLOW20" pas checkout ya '
                  '#PromoFollower #DiskonKhusus',
  'origin_id': 'admin_1',
  'post_id': 'XW9249',
  'post_time': '16/02/2025, 19:25:25',
  'post_type': 'post'},
 {'conn_info': {'browser': 'Safari',
                'platform': 'Macintosh',
                'status_code': 200,
                'token': '21b7c13c'},
  'destination_id': 'admin_1',
  'message_text': 'Adminnya cepet banget balesnya, love it! Semoga makin '
                  'sukses dan makin sering kasih promo hahahaha',
  'origin_id': 'user_8',
  'post_id': 'GC2361',
  'post_time': '16/02/2025, 20:53:54',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Mozilla',
                'platform': 'Linux',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': 'admin_3',
  'message_text': 'Admin, tiap liat postingan kalian tuh dompet langsung '
                  'deg-degan hehe Tapi ya tetep checkout sih ',
  'origin_id': 'user_1',
  'post_id': 'OH0426',
  'post_time': '16/02/2025, 21:00:21',
  'post_type': 'mention'},
 {'conn_info': {'browser': 'Chrome',
                'platform': 'Macintosh',
                'status_code': 200,
                'token': '03f2395f'},
  'destination_id': '0',
  'message_text': 'Midnight Sale Mulai Jam 9 Malam! Potongan harga hingga 70% '
                  'cuma sampe jam 12 malam nanti! Jangan tidur dulu, belanja '
                  'dulu #MidnightSale #PromoSpesial',
  'origin_id': 'admin_3',
  'post_id': 'RA9356',
  'post_time': '16/02/2025, 21:32:46',
  'post_type': 'post'}]

In [ ]:
# Insert raw data into a MongoDB Collection

coll_raw_data.insert_many(all_data)

InsertManyResult([ObjectId('67fbdc09b33ebaf1a928555b'), ObjectId('67fbdc09b33ebaf1a928555c'), ObjectId('67fbdc09b33ebaf1a928555d'), ObjectId('67fbdc09b33ebaf1a928555e'), ObjectId('67fbdc09b33ebaf1a928555f'), ObjectId('67fbdc09b33ebaf1a9285560'), ObjectId('67fbdc09b33ebaf1a9285561'), ObjectId('67fbdc09b33ebaf1a9285562'), ObjectId('67fbdc09b33ebaf1a9285563'), ObjectId('67fbdc09b33ebaf1a9285564'), ObjectId('67fbdc09b33ebaf1a9285565'), ObjectId('67fbdc09b33ebaf1a9285566'), ObjectId('67fbdc09b33ebaf1a9285567'), ObjectId('67fbdc09b33ebaf1a9285568'), ObjectId('67fbdc09b33ebaf1a9285569'), ObjectId('67fbdc09b33ebaf1a928556a'), ObjectId('67fbdc09b33ebaf1a928556b'), ObjectId('67fbdc09b33ebaf1a928556c'), ObjectId('67fbdc09b33ebaf1a928556d'), ObjectId('67fbdc09b33ebaf1a928556e')], acknowledged=True)

## C. Create Database and Table

### C.1 - Setup

First, you need to create a database named `social_media`. You can do this using the SQL syntax below, or manually by right-clicking on your server and selecting `Create` and then click `Database`.

```sql
CREATE DATABASE social_media;
```

In [ ]:
# Import library

import pandas as pd
import psycopg2

In [ ]:
# Create connection to PostgreSQL
conn = psycopg2.connect(
    dbname="social_media",
    user="",
    password="",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

### C.2 - Table `interaction`

Create a table named `interaction` that shows statistics on the number of interactions each user has with an admin. Sort the results from highest to lowest based on the number of interactions. Example table format:

| origin_id | destination_id | total_interaction |
| --- | --- | --- |
| user_1 | admin_3 | 3 |
| user_1 | admin_2 | 3 |
| user_2 | admin_3 | 1 |

Based on the available data, every post that involves interaction between a user and an admin has a `post_type = 'mention'`. On the other hand, posts with a `post_type = 'post'` are made by admins without any interaction, as indicated by `destination_id = 0`.

In [ ]:
# Step 1 : Extract (Find multiple documents from MongoDB collection)

results = coll_raw_data.find(
    {'post_type': 'mention'},
    {'_id': 0, 'origin_id': 1, 'destination_id': 1})

results = list(results)
results

[{'origin_id': 'user_6', 'destination_id': 'admin_1'},
 {'origin_id': 'user_7', 'destination_id': 'admin_1'},
 {'origin_id': 'user_1', 'destination_id': 'admin_2'},
 {'origin_id': 'user_5', 'destination_id': 'admin_1'},
 {'origin_id': 'user_3', 'destination_id': 'admin_1'},
 {'origin_id': 'user_7', 'destination_id': 'admin_1'},
 {'origin_id': 'user_5', 'destination_id': 'admin_3'},
 {'origin_id': 'user_8', 'destination_id': 'admin_1'},
 {'origin_id': 'user_1', 'destination_id': 'admin_3'}]

In [ ]:
# Step 2 : Transform (Count the number of interactions based on `origin_id`` and `destination_id`)

df = pd.DataFrame(results)
interaction_df = (
    df.groupby(['origin_id', 'destination_id'])
      .size()
      .reset_index(name='total_interaction')
      .sort_values(by='total_interaction', ascending=False)
      .reset_index(drop=True)
)
interaction_df

  origin_id destination_id  total_interaction
0    user_7        admin_1                  2
1    user_1        admin_2                  1
2    user_1        admin_3                  1
3    user_3        admin_1                  1
4    user_5        admin_1                  1
5    user_5        admin_3                  1
6    user_6        admin_1                  1
7    user_8        admin_1                  1

In [ ]:
# Step 3 : Load (Create table `interaction` and insert the data)

## Create table `interaction`
cur.execute("""
    CREATE TABLE IF NOT EXISTS interaction (
        origin_id VARCHAR(10),
        destination_id VARCHAR(10),
        total_interaction INTEGER
    );
""")

## Insert the data
for index, row in interaction_df.iterrows():
    print('Insert data - row : ', index)
    cur.execute(
        """
        INSERT INTO interaction (origin_id, destination_id, total_interaction)
        VALUES (%s, %s, %s);
        """,
        (row['origin_id'], row['destination_id'], int(row['total_interaction'])))

conn.commit()

Insert data - row :  0
Insert data - row :  1
Insert data - row :  2
Insert data - row :  3
Insert data - row :  4
Insert data - row :  5
Insert data - row :  6
Insert data - row :  7

### C.3 - Table `admin_first_message`

Create a table named `admin_first_message` that contains the first post made by each admin. Sort the results by admin name (`origin_id`). Example table format:

| post_id | post_time | origin_id | message_text |
| --- | --- | --- | --- |
| XX1113 | '16/02/2025, 10:19:44' | admin_1 | Text |
| XX1112 | '16/02/2025, 08:44:21' | admin_2 | Text |
| XX1111 | '16/02/2025, 09:12:00' | admin_3 | Text |

In [ ]:
# Step 1 : Extract (Find all posts from all admins)

results = coll_raw_data.find(
    {'post_type': 'post'},
    {'_id': 0, 'post_id':1, 'post_time':1, 'origin_id': 1, 'message_text': 1})

results = list(results)
results

[{'post_id': 'ER3020',
  'post_time': '16/02/2025, 06:28:12',
  'origin_id': 'admin_1',
  'message_text': 'BIG SALE ALERT! Diskon hingga 50% untuk semua produk kami, hanya sampai hari Minggu ini! Buruan, sebelum kehabisan! #Promo #DiskonGede #Sale'},
 {'post_id': 'HT1988',
  'post_time': '16/02/2025, 07:34:18',
  'origin_id': 'admin_3',
  'message_text': 'BIG SALE ALERT! Diskon hingga 50% untuk semua produk kami, hanya sampai hari Minggu ini! Buruan, sebelum kehabisan! #Promo #DiskonGede #Sale'},
 {'post_id': 'ZG9610',
  'post_time': '16/02/2025, 08:07:59',
  'origin_id': 'admin_2',
  'message_text': 'Last Day Promo! Ini hari terakhir buat nikmati potongan harga spesial dari kami! Kapan lagi belanja murah kayak gini? Cek sekarang di #LastChance #PromoAkhir'},
 {'post_id': 'XL4964',
  'post_time': '16/02/2025, 10:18:11',
  'origin_id': 'admin_2',
  'message_text': 'Last Day Promo! Ini hari terakhir buat nikmati potongan harga spesial dari kami! Kapan lagi belanja murah kayak gini? Cek sekarang di #LastChance #PromoAkhir'},
 {'post_id': 'OB6749',
  'post_time': '16/02/2025, 12:51:48',
  'origin_id': 'admin_2',
  'message_text': 'Hari ini aja: Buy 1 Get 1 Free! Pilih produk favoritmu, dan dapetin bonusnya! Stok terbatas, siapa cepat dia dapat #BOGO #PromoHariIni #BelanjaCerdas'},
 {'post_id': 'HF9367',
  'post_time': '16/02/2025, 13:56:50',
  'origin_id': 'admin_2',
  'message_text': 'Kode Voucher Khusus Kamu! Gunakan kode TWIT50 untuk potongan 50rb minimal belanja 200rb. Hanya berlaku 24 jam! #VoucherDiskon #PromoSpesial'},
 {'post_id': 'KQ8613',
  'post_time': '16/02/2025, 14:18:27',
  'origin_id': 'admin_1',
  'message_text': 'Surprise di depan pintu kamu! Hari ini ada promo FREE SHIPPING NATIONWIDE! Tanpa minimum belanja, tanpa kode. Cukup checkout sekarang #GratisOngkir #LangsungCheckout'},
 {'post_id': 'XT4124',
  'post_time': '16/02/2025, 15:36:16',
  'origin_id': 'admin_2',
  'message_text': 'Diskon Khusus Followers! Khusus kamu yang follow akun ini, dapatkan diskon 20%! Ketik "FOLLOW20" pas checkout ya #PromoFollower #DiskonKhusus'},
 {'post_id': 'TW4546',
  'post_time': '16/02/2025, 18:41:17',
  'origin_id': 'admin_3',
  'message_text': 'Hari ini aja: Buy 1 Get 1 Free! Pilih produk favoritmu, dan dapetin bonusnya! Stok terbatas, siapa cepat dia dapat #BOGO #PromoHariIni #BelanjaCerdas'},
 {'post_id': 'XW9249',
  'post_time': '16/02/2025, 19:25:25',
  'origin_id': 'admin_1',
  'message_text': 'Diskon Khusus Followers! Khusus kamu yang follow akun ini, dapatkan diskon 20%! Ketik "FOLLOW20" pas checkout ya #PromoFollower #DiskonKhusus'},
 {'post_id': 'RA9356',
  'post_time': '16/02/2025, 21:32:46',
  'origin_id': 'admin_3',
  'message_text': 'Midnight Sale Mulai Jam 9 Malam! Potongan harga hingga 70% cuma sampe jam 12 malam nanti! Jangan tidur dulu, belanja dulu #MidnightSale #PromoSpesial'}]

In [ ]:
# Step 2 : Transform (Take the first post from each admin then sort by admin name)

## Change the `post_time` column data type to datetime so that it can be sorted
admin_df = pd.DataFrame(results)
admin_df['post_time'] = pd.to_datetime(admin_df['post_time'], format='%d/%m/%Y, %H:%M:%S')

## Get first post per admin based on time
admin_first_posts_df = (
    admin_df.sort_values(by='post_time')
               .groupby('origin_id', as_index=False)
               .first()
               .sort_values(by='origin_id')
               .reset_index(drop=True)
)
admin_first_posts_df

,origin_id,post_id,post_time,message_text
0,admin_1,ER3020,2025-02-16 06:28:12,BIG SALE ALERT! Diskon hingga 50% untuk semua ...
1,admin_2,ZG9610,2025-02-16 08:07:59,Last Day Promo! Ini hari terakhir buat nikmati...
2,admin_3,HT1988,2025-02-16 07:34:18,BIG SALE ALERT! Diskon hingga 50% untuk semua ...

In [ ]:
# Step 3 : Load (Create table `admin_first_message` and insert the data)

## Create table `admin_first_message`
cur.execute("""
    CREATE TABLE IF NOT EXISTS admin_first_message (
        post_id VARCHAR(6),
        post_time TIMESTAMP,
        origin_id VARCHAR(10),
        message_text TEXT
    );
""")

## Insert the data
for index, row in admin_first_posts_df.iterrows():
    print('Insert data - row : ', index)
    cur.execute(
        """
        INSERT INTO admin_first_message (post_id, post_time, origin_id, message_text)
        VALUES (%s, %s, %s, %s);
        """,
        (row['post_id'], row['post_time'], row['origin_id'], row['message_text']))

conn.commit()

Insert data - row :  0
Insert data - row :  1
Insert data - row :  2

### C.4 - Table remaining_token_usage

The `token` field is used for authentication when interacting with the companyâ€™s social media accounts. Each `token` can only be used up to 15 times per day. Create a table named `remaining_token_usage` to store the remaining number of times each token can be used per day, based on the dataset. Example table format:

| token | post_date | remaining_quota |
| --- | --- | --- |
| token_1 | 2025-02-16 | 8 |
| token_2 | 2025-02-16 | 1 |
| token_3 | 2025-02-16 | 7 |

In [ ]:
# Step 1 : Extract (Find all posts)

results = coll_raw_data.find(
    {},
    {'_id': 0, 'post_time':1, 'conn_info.token': 1})

results = list(results)
results

[{'post_time': '16/02/2025, 06:28:12', 'conn_info': {'token': '229a6669'}},
 {'post_time': '16/02/2025, 07:34:18', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 08:07:59', 'conn_info': {'token': '229a6669'}},
 {'post_time': '16/02/2025, 10:18:11', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 12:51:48', 'conn_info': {'token': '229a6669'}},
 {'post_time': '16/02/2025, 13:02:44', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 13:03:02', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 13:56:50', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 14:18:27', 'conn_info': {'token': '21b7c13c'}},
 {'post_time': '16/02/2025, 15:03:35', 'conn_info': {'token': '4eededee'}},
 {'post_time': '16/02/2025, 15:26:16', 'conn_info': {'token': '229a6669'}},
 {'post_time': '16/02/2025, 15:36:16', 'conn_info': {'token': '21b7c13c'}},
 {'post_time': '16/02/2025, 15:48:39', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 17:26:16', 'conn_info': {'token': '4eededee'}},
 {'post_time': '16/02/2025, 17:29:05', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 18:41:17', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 19:25:25', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 20:53:54', 'conn_info': {'token': '21b7c13c'}},
 {'post_time': '16/02/2025, 21:00:21', 'conn_info': {'token': '03f2395f'}},
 {'post_time': '16/02/2025, 21:32:46', 'conn_info': {'token': '03f2395f'}}]

In [ ]:
# Step 2 : Transform (Get `token` from each document)

## Get the unique date and the token
token_df = pd.DataFrame(results)
token_df['post_time'] = pd.to_datetime(token_df['post_time'], format='%d/%m/%Y, %H:%M:%S')
token_df['post_date'] = token_df['post_time'].dt.date
token_df['token'] = [row['token'] for row in token_df['conn_info']]

## Calculate the usage per day
token_usage_df = (
    token_df.groupby(['token', 'post_date'])
    .size()
    .reset_index(name='used_count')
)

# Maksimum 10 per token per hari
token_usage_df['remaining_quota'] = 15 - token_usage_df['used_count']

# Final DataFrame
remaining_token_usage_df = token_usage_df[['token', 'post_date', 'remaining_quota']]
remaining_token_usage_df

      token   post_date  remaining_quota
0  03f2395f  2025-02-16                4
1  21b7c13c  2025-02-16               12
2  229a6669  2025-02-16               11
3  4eededee  2025-02-16               13

In [ ]:
# Step 3 : Load (Create `remaining_token_usage` and insert the data)

## Create table `remaining_token_usage`
cur.execute("""
    CREATE TABLE IF NOT EXISTS remaining_token_usage (
        post_date TIMESTAMP,
        token VARCHAR(10),
        remaining_quota INTEGER
    );
""")

## Insert the data
for index, row in remaining_token_usage_df.iterrows():
    print('Insert data - row : ', index)
    cur.execute(
        """
        INSERT INTO remaining_token_usage (post_date, token, remaining_quota)
        VALUES (%s, %s, %s)
        """,
        (row['post_date'], row['token'], row['remaining_quota']))

conn.commit()

Insert data - row :  0
Insert data - row :  1
Insert data - row :  2
Insert data - row :  3

### C.5 - Close the connection

In [ ]:
# Close the connection

cur.close()
conn.close()
client.close()